{% load staticfiles %}
<html>

    <head>
        <title>Личный блог | Kiwich</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div class="container">
    <div class="zg">
        <center><a href="/"><div class="zgtxt">Kiwich's blog</div></a></center>
       {% if user.is_authenticated %}<center><div class="tlt">Привет, {{ user.username }}!</div></center>{% else %}<center><div class="tlt">Привет, аноним!</div></center>{% endif %}
        <!--<center><img src="/static/11.png" alt="Пека"></center>-->
    </div>
    <div class="row">
    <div class="col-md-3 col-sm-6">
            {% block content %}
            {% endblock %}
    </div>
    <br>
        </div>
        <center><div class="tlt">2017</div></center>
        </div>
    </body>
</html>