
a:hover {
    text-decoration: none;
}
body {
    background-image: url(/static/11.jpg);
}

.endbg {
    background-color: #5EA5BD;
    margin-top: 0;
    padding: 3px;
}

.zg {
    background-color: #5EA5BD;
    margin-top: 0;
    padding: 20px 0px 20px 0px;
}

.end {
    background-color: #5EA5BD;
    margin-top: 0;
    padding: 20px 0px 20px 0px;
}

.zgtxt {
    font-family: 'Lobster';
    font-size: 30pt;
    color: #F2F2F2;
}

.endtxt {
    font-size: 10pt;
    color: #F2F2F2;
}

.adtxt {
    font-size: 10pt;
    color: #93DDF5;
}

.tlt2 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #FFFFFF;
    font-size: 17pt;
    background-color:#5EA5BD;
}

.tlt {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #F2F2F2;
    font-size: 17pt;
    background-color:#5EA5BD;
}

.comtxt {
    color: #000000;
    font-size: 13pt;
    padding:20px;
}

.dt {
    color: #595959;
    font-size: 9pt;
}

.back {
    background: url(/static/11.jpg) repeat;
}

.comment {
    margin: 20px 0px 20px 20px;
}
